extends index

block navbar
  div.sidebar-sticky
    ul.nav.flex-column
      li.nav-item
        a(class="nav-link" href="/teams")
          span(data-feather="rooster") Rosa
      li.nav-item
        a(class="nav-link active" href="/teams/lineup")
          span(data-feather="lineup") Lineup
      li.nav-item
        a(class="nav-link" href="#")
          span(data-feather="tactic") Tattica
      li.nav-item
        a(class="nav-link" href="#")
          span(data-feather="training") Allenamento
      li.nav-item
        a(class="nav-link" href="#")
          span(data-feather="mood") Morale
    h6.sidebar-heading.d-flex.justify-content-between.align-items-center.px-3.mt-4.mb-1.text-muted
      span Supercazzole
      a(class="d-flex align-items-center text-muted" href="#")
        span(data-feather="plus-circle")
    ul.nav.flex-column.mb-2
      li.nav-item
        a(class="nav-link" href="#")
          span(data-feather="file-text") ...

block main
  div.container
    div#root
    //- div.row
    //-   div.col-md-4
    //-     table(class="table table-sm table-hover")
    //-       thead(class="thead-light")
    //-         tr
    //-           //- th(scope="col") Foto
    //-           th(scope="col") Nome
    //-           th(scope="col") Forza
    //-           th(scope="col") Ruoli
    //-       tbody
    //-         each player in players
    //-           tr(key=`${player.id}` class="tab-row-small grabbable")
    //-             //- DA QUI PARTIRE DRAG & DROP - onClick=checkedSelection() - ={this.props.player.id}
    //-             //- td 
    //-             //-   img(
    //-             //-     class="playerphoto"
    //-             //-     src=`${player.photo}`
    //-             //-     alt=`${player.name}`
    //-             //-     )
    //-             td
    //-               p #{player.name}
    //-             td
    //-               p #{player.rating}
    //-             td
    //-               each role in player.positions
    //-                 p.ruoli #{role} 
    //-   div.col-md-8
        

  //- Load React
  script(src="/static/js/react.development.js" crossorigin)
  script(src="/static/js/react-dom.development.js" crossorigin)
  script(src="/static/js/babel.min.js" crossorigin)
  //- Load my component
  //- script(type="module" src="/static/js/lineup.js")
  script(type="text/babel" src="/static/js/lineup.js")
  link(href="/static/css/lineup.css", rel="stylesheet")
  

        
        
        
        
