extends base

block navbar
  div.sidebar-sticky
    ul.nav.flex-column
      li.nav-item
        a(class="nav-link active" href="/teams")
          span(data-feather="rooster") Rosa
      li.nav-item
        a(class="nav-link" href="/teams/lineup")
          span(data-feather="lineup") Lineup
      li.nav-item
        a(class="nav-link" href="#")
          span(data-feather="tactic") Tattica
      li.nav-item
        a(class="nav-link" href="#")
          span(data-feather="training") Allenamento
      li.nav-item
        a(class="nav-link" href="#")
          span(data-feather="mood") Morale
    h6.sidebar-heading.d-flex.justify-content-between.align-items-center.px-3.mt-4.mb-1.text-muted
      span Supercazzole
      a(class="d-flex align-items-center text-muted" href="#")
        span(data-feather="plus-circle")
    ul.nav.flex-column.mb-2
      li.nav-item
        a(class="nav-link" href="#")
          span(data-feather="file-text") ...

block main
  //- div#root
  div.container
    table(class="table table-hover")
      thead(class="thead-light")
        tr
          th(scope="col") Foto
          th(scope="col") Nome
          th(scope="col") Forza
          th(scope="col") Roli
          th(scope="col") Club
      each player in supervars.SearchResults
        tbody
          tr(key=`${player.id}` className="Result-player grabbable")
            td 
              img(
                class="playerphoto"
                src=`${player.photo}`
                alt=`${player.name}`
                )
            td
              p #{player.name}
            td
              p #{player.rating}
            td
              each role in player.positions
                p.ruoli #{role} 
            td
              img(
                class="clubicon"
                src=`${player.club.logo}`
                alt=`${player.club.name}`
                )


        
        
        
        
