extends base

block navbar
  ul.navbar-nav.mr-auto
    li.nav-item
      a(class="nav-link active" href="/team") Squadra
    li.nav-item
      a(class="nav-link" href="/market") Mercato
    li.nav-item
      a(class="nav-link" href="#") Finanze
    li.nav-item
      a(class="nav-link" href="#") Media
    li.nav-item
      a(class="nav-link" href="#") Calendario
    li.nav-item
      a(class="nav-link" href="#") Partita
      
block navbar-left
  div.sidebar-sticky
    ul.nav.flex-column
      li.nav-item
        a(class="nav-link active" href="/team")
          span(data-feather="rooster") Rosa
      li.nav-item
        a(class="nav-link" href="/team/lineup")
          span(data-feather="lineup") Lineup
      //- li.nav-item
      //-   a(class="nav-link" href="#")
      //-     span(data-feather="tactic") Tattica
      //- li.nav-item
      //-   a(class="nav-link" href="#")
      //-     span(data-feather="training") Allenamento
      //- li.nav-item
      //-   a(class="nav-link" href="#")
      //-     span(data-feather="mood") Morale


block main
  if supervars.SearchResults
    table(class="table table-hover table-sm")
      thead(class="thead-light")
        tr
          th(scope="col") Nome
          th(scope="col") Club
          th(scope="col") Nazionalità
          th(scope="col") Età
          th(scope="col") Forza
          th(scope="col") Ruoli
          th(scope="col") Valore
          th(scope="col") Ingaggio
      tbody
        each player in supervars.SearchResults
          tr
            td
              a(href="/team/player/"+`${player.id}`) 
                p #{player.nome}
            td
              p #{player.club_team}
              //- TODO: integrare con icona
            td
              p #{player.naz}
              //- TODO: integrare con icona
            td
              p #{player.eta}
            td
              p #{player.valtot} (#{player.valpot})
            td
              each role in player.pos_all.split(":::")
                p.ruoli #{role} 
            td.text-right
              p #{"€ " + player.valore_e.toLocaleString()} 
            td.text-right
              p #{"€ " + (player.stipendio_e * 12).toLocaleString()} 


        
        
        
        
